/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

header {
  background-color: #EEDDFC;
  padding: 10px;
}

#container {
  width: 90%;
  height: 90%;
}

#title {
    color: #548BB7;
    font-family: Arial;
    font-size: 1.2em;
    font-weight: bold;
    padding: 15px 5px 0;
}

#nav_menu {
  background-color: #fffcde;
  padding: 20px 0;
  float: left;
  height: 380px;
  width: 250px;
}

#main {
  float: left;
  display: block;
  padding: 0 20px;
}

footer {
  clear: both;
}